# Python + Node/Frontend
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
ENV/
build/
dist/
.eggs/
*.egg-info/
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store

# Node
node_modules/
.npm/
.cache/
.next/
.out/
yarn.lock
package-lock.json
